﻿@using Adivinator.Models

@{
    ViewBag.Title = "Adivinador";

    Jugador jugador = (Jugador)Session["jugador"];


    if (jugador == null)
    {
        <div class="row">
            <div class="container">
                <img src="~/Content/img/favicon.ico" alt="Logo" height="60" width="60" />
                <p><b>Adivinador</b></p>
                <h3>Bienvenid@@,</h3>
            </div>
        </div>
        <div class="row">
            <form class="form-inline" method="post" action='@Url.Action("Login")'>
                <div class="form-group">
                    <div class="col-xs-7">
                        <input required pattern=".*[^ ].*" class="form-control" type="text" name="nombre" placeholder="Nombre" autofocus />
                    </div>
                    <div class="col-xs-3">
                        <input style="margin-left: 5px" class="btn btn-primary" type="submit" name="login" value="Ingresar" />
                    </div>
                </div>
            </form>
        </div>
    }


    else
    {
        Jugador mejor = Juego.GetMejor();
        Jugador mejorCookie = (Jugador)Session["mejor"];
        <div class="row">
            <div class="col-xs-4">
                <img src="~/Content/img/favicon.ico" alt="Logo" height="35" width="35" />
            </div>
            <div class="col-xs-8">
                <form id="logout" method="post" action='@Url.Action("Logout")'>
                    <p class="btn btn-link" onclick="document.getElementById('logout').submit()">Salir</p>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h5>Hola, <b>@jugador.Nombre</b>&ensp;(Sesión: @jugador.PuntosSession pts. &nbsp;||&nbsp; Total: @jugador.Puntos pts.)</h5>
                <hr class="hr_azul">
                <p>
                    Récord local:@if (mejorCookie.Puntos > 0)
                    {
                        @:<b>&ensp; @mejorCookie.Nombre</b>
                        @:(@mejorCookie.Puntos pts.)
                    }
                    else
                    {
                        @:&ensp; N/A
                    }
                </p>
                <p>
                    Récord global:@if (mejor.Puntos > 0)
                    {
                        @:<b>&thinsp;@mejor.Nombre</b>
                        @:(@mejor.Puntos pts.)
                    }
                    else
                    {
                        @:&thinsp;N/A
                    }
                </p>
                <hr class="hr_azul">
            </div>
        </div>


        if (jugador.Partida.Intentos.Count > 0)
        {   //PODRIA HABER UN FOREACH CON <ul><li>
            <div>
                <h4>&emsp;Anteriores: @jugador.Partida.IntentosToString()</h4>
            </div>
        }

        if (Session["resultado"] != null)
        {
            switch (Convert.ToInt32(Session["resultado"]))
            {
                case -1:
                    <h3>¡Nuevo juego! (era @Session["era"])</h3>
                    break;
                case -2:
                    <h3>Ingrese un numero del 1 al 100:</h3>
                    break;
                case 0:
                    <h3>El numero es menor</h3>
                    break;
                case 1:
                    <h3>¡Ganaste! (+@Session["puntos"] pts.)</h3>
                    <h4>Nuevo juego</h4>
                    break;
                case 2:
                    <h3>El numero es mayor</h3>
                    break;
            }
        }

        else
        {
            <p class="lead">@Juego.Rima()</p>
        }

        <div class="row">
            <form class="form-inline pull-left" id="adivinar" method="post" action='@Url.Action("Adivinar")'>
                <div class="form-group">
                    <div class="col-xs-6">
                        <input required class="form-control" type="number" name="numero" min="1" max="100" autofocus />
                    </div>
                    <div class="col-xs-3">
                        <input class="btn btn-success" type="submit" name="adivinar" value="Adivinar" />
                    </div>
                </div>
            </form>

            <form class="pull-left" id="reiniciar" method="post" action='@Url.Action("ReiniciarJuego")'>
                <div class="form-group">
                    <div class="col-xs-3">
                        <input style="margin-left: 4px" class="btn btn-warning" type="submit" name="reiniciar" value="Reiniciar" /> <!--onclick="return confirm('Terminar partida? (perderás puntos)')-->
                    </div>
                </div>
            </form>
        </div>
    }
}
